<div>
	<h5 style="margin-top: 0px;">Current print</h5>
	Extruded filament: <span data-bind="text:extruded_filament"></span> mm<br>
	Extruded filament (first layer): <span data-bind="text:extruded_filament_first_layer"></span> mm<br>
	Time spent heated: <span data-bind="text:time_at_temp"></span>
	<h5>All time</h5>
	Extruded filament: <span data-bind="text:lifetime_extruded_filament"></span> mm<br>
	Extruded filament (first layer): <span data-bind="text:lifetime_extruded_filament_first_layer"></span> mm<br>
	Time spent heated: <span data-bind="text:lifetime_time_at_temp"></span>
</div>